.reactMarkDown p { 
    font-size: 12px;
    font-weight: 400; 
    white-space: pre-wrap;
    margin-top: 0;
    margin-bottom: 0;
}

.reactMarkDown h1 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.reactMarkDown h2 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.reactMarkDown h3 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 4px;
    margin-bottom: 4px;
}